/** LAYOUT **/
.navbar-header #logo-image {
    height: 25px;
}

/** END LAYOUT **/

/** LOGIN PAGE **/

.login-logo #logo-image {
    height: 80px;
}

.login-page {
    background: #3b3b3b;
}

/** END LOGIN PAGE **/
